.FlashcardArrayContainer {
	background-color: #f5f5f5;
}
.FlashcardWrapper__item--front {
	background-color: #f5f5f5 !important;
}
.FlashcardArrayContainerControl {
	.controlsContainer {
		justify-content: space-around;
	}
}

.audio {
	display: none;
}
